<% if flash[:notice] %>
<div class="notice">

<strong><h1><%= flash[:notice] %><h1></strong>
<br>
</div>
<% end %>


<%= form_tag :action=>:processlogin do %>
    <div class="field">
        <h2>Login</h2>
        <%= text_field "user", "user" %>
    </div>

    <div class="field">
        <h2>Password</h2>
        <%= password_field "pass", "pass" %>
    </div>

    <div class="actions">
        <%= submit_tag "Login" %>
    </div>

    <% end %>