<% @products.each do |product| %>

    <p><a href="/products/show/<%= product.id %>"><%= product.name %></a></p>
    <p><%= image_tag(product.image, size: "100x100", alt: "Product") %></p>
    <p>$<%= product.price %></p>
    <p><%= product.category %></p>
    <a class="btn btn-success" href = "/mycart/additem/<%= product.id %>" type="button">Add To Cart</a>
    <br>
    <br>
  <% end %>