<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/products/bycategory">Action</a>

  </div>
</div>


<% @products.each do |product| %>

    <p><%= product.name %></p>
    <p><%= image_tag(product.image, size: "100x100") %></p>
    <p>$<%= product.price %></p>
    <p><%= product.category %></p>
    <br>
  <% end %>

  <h1><%= paginate @products %><h1>

