<% @products.each do |product| %>

    <p><%= product.name %></p>
    <p><%= image_tag(product.image, size: "100x100") %></p>
    <p>$<%= product.price %></p>
    <p><%= product.category %></p>
    <br>
  <% end %>

  <h1><%= paginate @products %><h1>