<!DOCTYPE html>
  <head>
    <title>Ecom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <% if session[:current_user_name] == "" %>
    <% @currentuser = "Guest" %>
    <% else %>
    <% @currentuser = session[:current_user_name] %>
    <% end %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <a class="navbar-brand" href="/products/">Products</a>
  <a class="navbar-brand" href="/"><%= @currentuser %></a>
  <strong>Welcome, <%= @currentuser %></strong>
  <form class="form-inline">
    <% if session[:current_user_name] == "" %>
    <a class="btn btn-outline-primary"  href= "/login" type="button">Login</a>
    <div style="padding-left: 10px;">
    <a class="btn btn-outline-success" href = "/register" type="button">Sign up</a>

    <% else %>
    <a class="btn btn-outline-primary" href = "/logout" type="button">Logout</a>
    <div style="padding-left: 10px;">
    <a class="btn btn-outline-primary" href = "/" type="button">My Profile</a>
    <% end %>



    </div>
</form>
</nav>
    <%= yield %>
  </body>
</html>

