<!DOCTYPE html>
<html>
  <head>
    <title>Ecom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <a class="navbar-brand" href="/products/">Products</a>
  <a class="navbar-brand" href="/">Placeholder</a>
  <form class="form-inline">
    <button class="btn btn-outline-primary" type="button">Login</button>
    <div style="padding-left: 10px;">
      <button class="btn btn-outline-success" type="button">Sign up</button>
    </div>
</form>
</nav>
    <%= yield %>
  </body>
</html>

<script>
@test = "Hello"
</script